@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#spinner{
    position: absolute;
    z-index: 99999;
    height: 100px;
    top: 70%;
    left: 50%;
}
